footer
  .container.text-center
    p.float-left Kieran Molloy
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/K-Molloy/nrdf-rest-api') GitHub Project
      li.list-inline-item
        a(href='https://github.com/K-Molloy/nrdf-rest-api/issues') Issues
