extends ../../layout

block content
 .page-header
   h3= title
 #table-wrapper
  table#tocs
   tr
    th ObjectID
    th Headcode
   tbody
    for train in trains
      tr
       td= train._id
       td= train.descr
   