extends layout

block content
  h1 NRDF Project
  p.lead MMU Mathematics Department
  hr
  .row
    .col-md-6
      h2 Schedule
      p Daily Schedules, filter by various commands (TODO: COMING SOON)
      p 
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Junction Maps
      p View Live Junction Maps (TODO: COMING SOON)
      p 
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Station Maps
      p  View Live Station Maps (TODO: COMING SOON)
      p 
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Create a Query
      p Create a DB Query for custom output (TODO: COMING SOON)
      p 
        a.btn.btn-raised(href='#', role='button') View details »