extends layout

block content
  h1 Schedules
  hr
  .row
    .col-md-6
      h2 Station Schedules
      p Daily schedule for a specific station
      p 
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Junction Schedules
      p Daily schedule for a specific junction
      p 
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 TOC Schedules
      p  Daily Schedule for a specific operator
      p 
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Time-Limit Schedules
      p Schedule for a time-window
      p 
        a.btn.btn-raised(href='#', role='button') View details »